<div class="center jumbotron">
  <h1>Welcome to MyBookShelf</h1>

  <h2>Keep track of your favorite books and discover new ones</h2>

  <%= link_to "Sign Up", "#", class: "btn btn-lg btn-primary" %>  
</div>