
<h1>All Books</h1>



<ol>
  <% @books.each do |book| %>
    <li><%= link_to book.name, book_path(book) %>
      <ul>
        <li>Author: <%= link_to book.author_name, author_path(book.author) %></li>
        <li>Genres: 
          <ul>
            <% book.genres.each do |genre| %>
              <li><%= link_to genre.name, genre_path(genre) %></li>
            <% end %></li>
          </ul>
        </li>
        <li>Average Rating: <%= pluralize(book.ratings.average(:stars), 'star') %></li>
      </ul>
    </li>
  <% end %>
</ol>




