<ul>
        <li>Author: <%= link_to book.author_name, author_path(book.author) %></li>
        <li>Genres: 
          <ul>
            <% book.genres.each do |genre| %>
              <li><%= link_to genre.name, genre_path(genre) %></li>
            <% end %></li>
          </ul>
        </li>
        <li>Average User Rating: <%= pluralize(book.average_star_rating, 'star') %></li>
        <% if current_user.books.include?(book) %>
          <li>My Rating: <%= pluralize(book.ratings.where(user_id: current_user.id).pluck(:stars)[0], 'star') %></li>
        <% end %>
      </ul>