// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;
  z-index: 1;

  .card {
    display: inline-block;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;  
    z-index: 1;

  }
}

img {
  position: relative;
  margin-top: -90px;
}

.ratings-list {
  display: inline;
}

.ratings-grid {
  display: grid;
  grid-template-columns: 30px 175px 30px 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: start;
}




