// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// Header


.login-form {
  color:  rgb(26, 31, 31);
  float: right;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form-fields {
  margin:10px 4px 0 0
}

.center {
  text-align: center;
  margin-top: 50px;
}

.tagline {
  letter-spacing: -1px;
  margin-top: 20px;
}